<template name="folderList">
  <div class="row folder-container">
    <div class="col-sm-6">
      <div class="title">Your Forms:</div>
      <div class="new-form btn btn-success">Create a New Form<span class="glyphicon glyphicon-list"></span></div>
    </div>
    <div class="col-sm-6">
      <div class="title">Your Folders:</div>
      <div class="new-folder btn btn-success">Add a New Folder<span class="glyphicon glyphicon-folder-close"></span></div>
      <ul id="folder-list">
        {{#each folders}}
          <li>
            <div class="folder-title"><a href="/{{username}}/{{name}}">{{name}}</a></div>
            <div class="folder-description">{{description}}</div>
            <div class="folder-created">Created on {{date createdAt}}</div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>