<template name="navbar">
  <div class="navbar">
    <div class="title">
      <div class="gel-logo"></div>
      <div>GEL Peer Review</div>
    </div>

<!--     <div class="dropdown">
      <div id="dropdownMenu1" data-toggle="dropdown">
        Folders
        <span class="caret"></span>
      </div>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>hello world</li>
        <li role="separator" class="divider"></li>
        <li class="new-folder"></li>
      </ul>
    </div> -->

    <div class="login-buttons">
      {{> loginButtons}}
    </div>
  </div>
</template>
