body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.navbar {
  a {
    color: #fff;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.modal {

  .modal-title {
    font-weight: 600;
    font-size: 1.15em;
  }

  .input-label {
    margin-bottom: 10px;
  }

}

.splash-background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url('/img/error.gif');
  background-size: auto 100%;
}